:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.workspace {
  display: flex;
  flex: 1;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
  overflow: hidden;
  background: #f9f9f9;
}
